*{
    padding: 0;
    margin: 0;
}
.body{
    background: url("./bg.jpg");
    min-height: 100vh;  /*View height*/
    background-size: 100vw 100vh;   /*Fit in background*/
    background-repeat: no-repeat;
    display: flex;   /**/
    justify-content: center; /*Vertically and horizontally center*/
    align-items: center;
}
#instructions{
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(6, 36, 6);
}
#inside{
    font-size: 20px;
    color:rgb(30, 71, 90)
}
#board{
    background: linear-gradient(rgb(195, 236, 195), rgb(253, 253, 171)); /*via linear gradient you can use 2 colours */
    width: 90vmin;
    height: 92vmin;
    border: 2px solid green;
    display: grid;    /*Board is grid now*/
    grid-template-rows: repeat(18, 1fr);  /* 18 rows of 1fr unit each*/
    grid-template-columns: repeat(18, 1fr);  /*18 cols of 1fr unit each*/
}
.head{
    background: linear-gradient(red, rgb(86, 57, 153));
    border: 2px solid pink ;
    transform: scale(1.02);
    border-radius: 5px;
}
.snake{
    background-color: rgb(10, 243, 243);
    border: .25vmin solid white;
    border-radius: 12px;
}
.food{
    background-color: rgb(50, 25, 190);
    border: .25vmin solid rgb(30, 71, 90);
    border-radius: 8px;
}